body {
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    font-family: "Open Sans", "Arial", sans-serif;
    margin: 0px;
    padding: 0px;
    min-height: 320px;
    color: black;
    background-color: #fff;
}

